@page
@model TollApp.Pages.OPERTOR.AddModel
@{
}


<h4 class="text-center">Add New operator</h4>



<form method="post">
 
     <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" class="form-control" required />
    </div>
     <div class="form-group">
        <label asp-for="@Model.MobileNumber"></label>
        <input type="number" asp-for="@Model.MobileNumber" class="form-control" required />
    </div>
      <div class="form-group">
        <label asp-for="@Model.EmailId"></label>
        <input type="email" asp-for="@Model.EmailId" class="form-control" required />
    </div>
      <div class="form-group">
        <label asp-for="@Model.Password"></label>
        <input type="password" asp-for="@Model.Password" class="form-control"  required/>
    </div>
   


    <div class="form-group">
        <h6 class="text-success">@Model.SuccessMessage</h6>
        <h6 class="text-danger">@Model.ErrorMessage</h6>
        <h4>@Html.ValidationSummary()</h4>
    </div>
  
    <div class="row gx-0">
        <button type="submit" class="col btn btn-primary me-1"> SUBMIT</button>
        <a href="/OPERATOR/Login" class="col btn btn-default ms-1 border-secondary">Cancel</a>
    </div>
</form>